div{
    background-color: #A50000;
    padding: 10px;
}

h1{
    font-family: verdana;
}

a{
    font-family: verdana;
}

p1{
    font-family: verdana;
}

footer{
    font-family: verdana;
    font-size: 30%;
}
